@import "../../module.variables.scss";

.LoadingBox {
  @include flexBox;
  padding: 1em;
  width: 100%;
  height: max-content;

  p {
    margin-left: 0.5em;
  }

  &.dark {
    .IconLoading {
      &::after {
        border-color: $dark transparent $dark transparent;
      }
    }
  }
}
